.info-container {
    display: flex;
    flex-direction: column;
    height: 100%; 
    align-content: center;
  }
  
  .search-bar {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .countries-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-display {
    margin: auto;
  }

  