/* 在 Content/Content.css 文件中 */

.content {
    display: flex;
    padding: 1rem;
    gap: 1rem; /* 给子元素之间提供一些间隔 */
    height: 80vh;
  }
  
  .info-area {
    flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
    background-color: #f9f9f9; /* 临时背景色，帮助可视化布局 */
    /* 添加内边距、边框等样式 */
    padding: 1rem;
    border: 1px solid #ddd;
    height: 100%; /* 或者更根据内容自适应 */
  }
  
  .map-area {
    flex: 0 0 70%; /* flex-grow, flex-shrink, flex-basis */
    background-color: #ececec; /* 临时背景色，帮助可视化布局 */
    /* 添加内边距、边框等样式 */
    padding: 1rem;
    border: 1px solid #ddd;
    height: 100%; /* 或者更根据内容自适应 */
  }
  